@model ProjektBazyDanych.Shipment

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Shipment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.shipmentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shipmentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Settlement.shipmentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Settlement.shipmentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Supplier.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Supplier.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Settlement1.shipmentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Settlement1.shipmentId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
