@model IEnumerable<ProjektBazyDanych.Shipment>

@{
    ViewBag.Title = "Dostawy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Dostawy</h1>

<p>
    @Html.ActionLink("Dodaj nową", "Create", null, new { @class = "btn btn-dark mb-3" })
</p>
<table class="table table-dark table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shipmentDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Settlement.shipmentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Supplier.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.shipmentDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.amount)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Settlement.shipmentId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Supplier.name)
    </td>
    <td>
        @Html.ActionLink("Edytuj", "Edit", new { id = item.id }, new {@class="white-link"}) |
        @Html.ActionLink("Szczegóły", "Details", new { id = item.id }, new {@class="white-link"}) |
        @Html.ActionLink("Usuń", "Delete", new { id = item.id }, new {@class="white-link"})
    </td>
</tr>
}

</table>
