@model IEnumerable<ProjektBazyDanych.Settlement>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.creationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modificationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.month)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.approved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shipment.supplierName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shipment1.supplierName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.creationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.modificationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.month)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.approved)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shipment.supplierName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shipment1.supplierName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.shipmentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.shipmentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.shipmentId })
        </td>
    </tr>
}

</table>
