@model IEnumerable<ProjektBazyDanych.Settlement>

@{
    ViewBag.Title = "Rozliczenia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Rozliczenia</h1>

<p>
    @Html.ActionLink("Dodaj nowe", "Create", null, new { @class = "btn btn-dark mb-3" })
</p>
<table class="table table-dark table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.shipmentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.creationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modificationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.month)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.approved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shipment.supplierName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.shipmentId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.creationDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.modificationDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.year)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.month)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.sum)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.approved)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Shipment.supplierName)
    </td>
    <td>
        @Html.ActionLink("Edytuj", "Edit", new { id = item.shipmentId }, new {@class="white-link"}) |
        @Html.ActionLink("Szczegóły", "Details", new { id = item.shipmentId }, new {@class="white-link"}) |
        @Html.ActionLink("Usuń", "Delete", new { id = item.shipmentId }, new {@class="white-link"})
    </td>
</tr>
}

</table>
