@model ProjektBazyDanych.Disease

@{
    ViewBag.Title = "Szczegóły";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Szczegóły</h1>

<div>
    <h4>Choroba</h4>
    <hr />
    <dl class="dl-horizontal">
        <div class="row">
            <div class="col-sm-5">
                <dt>
                    @Html.DisplayNameFor(model => model.name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.name)
                </dd>
            </div>
            <div class="col-sm-7">
                <dt>
                    Wpisy w historii chorób:
                </dt>
                <dd>

                    <table class="table table-dark table-striped">

                        <tr>
                            @{var diseaseHistory = Model.DiseaseHistories.FirstOrDefault();
                                <th>
                                    @Html.DisplayNameFor(model => diseaseHistory.beginDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => diseaseHistory.endDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => diseaseHistory.Animal.name)
                                </th>
                                <th></th>
                            }
                        </tr>
                        @foreach (var item in Model.DiseaseHistories)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.beginDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.endDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Animal.name)
                                </td>
                                <td>
                                    @Html.ActionLink("Szczegóły", "Details", "DiseaseHistories", new { id = item.id }, new { @class = "white-link" })
                                </td>
                            </tr>
                        }
                    </table>

                </dd>
            </div>
        </div>
    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.id }, new { @class = "btn btn-dark" })
    @Html.ActionLink("Usuń zarażone zwierzęta", "DeleteAnimals", new { name = Model.name }, new { @class = "btn btn-dark" }) |
    @Html.ActionLink("Powrót do listy", "Index", null, new { @class = "btn " })
</p>
