@model IEnumerable<ProjektBazyDanych.Disease>

@{
    ViewBag.Title = "Choroby";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Choroby</h1>

<p>
    @Html.ActionLink("Dodaj nową", "Create", null, new { @class = "btn btn-dark mb-3" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.name)
    </td>
    <td>
        @Html.ActionLink("Edytuj", "Edit", new { id = item.name }) |
        @Html.ActionLink("Szczegóły", "Details", new { id = item.name }) |
        @Html.ActionLink("Usuń", "Delete", new { id = item.name })
    </td>
</tr>
}

</table>
