@model ProjektBazyDanych.DiseaseHistory

@{
    ViewBag.Title = "Szczegóły";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Szczegóły</h1>

<div>
    <h4>Wpis w historii chorób</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.beginDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.beginDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.endDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.endDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Animal.sex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Animal.sex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Disease.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Disease.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { /* id = Model.PrimaryKey */ }, new {@class="btn btn-dark"}) |
    @Html.ActionLink("Powrót do listy", "Index", null,new { @class = "btn " })
</p>
