@model ProjektBazyDanych.ServicePoint
@{
    ViewBag.Title = "AddServicePointWorker";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<h2>Dodaj pracownika dla tego punktu usług: @Model.name</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            @Html.Hidden("id", Model.name)
            @*@Html.LabelFor(model => model.Foods, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.DropDownList("lastName", null, htmlAttributes: new { @class = "form-control" })
                @*@Html.ValidationMessageFor(model => model.Foods, "", new { @class = "text-danger" })*@
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Dodaj" class="btn btn-dark" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Powrót do szczegółów", "Details", new { id = Model.name }, new { @class = "btn " })
</div>


