@model ProjektBazyDanych.Runway

@{
    ViewBag.Title = "Usuń";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Usuń</h1>

<h3>Czy na pewno chcesz usunąć ten wybieg?</h3>
<div>
    <h4>Wybieg</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.animalCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.animalCount)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-dark" /> |
            @Html.ActionLink("Powrót do listy", "Index", new { @class = "btn " })
        </div>
    }
</div>
