@model ProjektBazyDanych.Spiece

@{
    ViewBag.Title = "Usuń gatunek";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Usuń</h1>

<h3>Czy na pewno chcesz usunąć ten gatunek?</h3>
<div>
    <h4>Gatunek</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.howMany)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.howMany)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.appetite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.appetite)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-dark" /> |
            @Html.ActionLink("Powrót do listy", "Index", new { @class = "btn " })
        </div>
    }
</div>
