@model ProjektBazyDanych.Spiece

@{
    ViewBag.Title = "Szczegóły";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Szczegóły</h1>

<div>
    <h4>Gatunek</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.howMany)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.howMany)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.appetite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.appetite)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.name }) |
    @Html.ActionLink("Powrót do listy", "Index", new { @class = "btn " })
</p>
