@model IEnumerable<ProjektBazyDanych.Spiece>

@{
	ViewBag.Title = "Gatunki";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Gatunki</h1>
@if (ViewBag.keyword != null)
{
	<h4 style="color:forestgreen">Wyniki wyszukiwania dla: @ViewBag.keyword</h4>
}
<p>
	@Html.ActionLink("Dodaj nowy", "Create", null, new { @class = "btn btn-dark mb-3" })
</p>
<table class="table table-dark table-striped">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.name)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.howMany)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.appetite)
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.howMany)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.appetite)
			</td>
			<td>
				@Html.ActionLink("Edytuj", "Edit", new { id = item.id }, new { @class = "white-link" }) |
				@Html.ActionLink("Szczegóły", "Details", new { id = item.id }, new { @class = "white-link" }) |
				@Html.ActionLink("Usuń", "Delete", new { id = item.id }, new { @class = "white-link" })
			</td>
		</tr>
	}

</table>
