@model IEnumerable<ProjektBazyDanych.ServicePointWorker>

@{
    ViewBag.Title = "Pracownicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pracownicy</h2>

<p>
    @Html.ActionLink("Dodaj nowego", "Create", null, new { @class = "btn btn-dark mb-3" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employed)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.firstName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.lastName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.age)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.salary)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.employed)
    </td>
    <td>
        @Html.ActionLink("Edytuj", "Edit", new { id = item.id }) |
        @Html.ActionLink("Szczegóły", "Details", new { id = item.id }) |
        @Html.ActionLink("Usuń", "Delete", new { id = item.id })
    </td>
</tr>
}

</table>
